body{
    font-family: Arial, Helvetica, sans-serif;
}

table{
    border-collapse: collapse;
    width: 400px;
}

th, td{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

thead > tr > th {
    background-color: grey;
    color: white;
    }

.cor {
    background-color: grey;
    color: white;
}